/* src/components/TableList.css */
.table-list {
    width: 100%;
    border-collapse: collapse;
}

.table-list th, .table-list td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-list tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-list tr:hover {
    background-color: #ddd;
}

.table-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.table-list .selected {
    background-color: #e2e2e2;
}


@media (max-width: 600px) {
    .table-list {
        min-width: 100%;
    }
}
